<HTML>
<HEAD>
<TITLE>ZeroVault</TITLE>
<script src="./blake2s.min.js"></script>
<script>
function str2ab(str) {
  var buf = new ArrayBuffer(str.length);
  var bufView = new Uint8Array(buf);
  for (var i=0, strLen=str.length; i<strLen; i++) {
    bufView[i] = str.charCodeAt(i);
  }
  return bufView;
}  

function d2s(digest,dousername,domain) {
  var minfo = {% include "mapping.json" %} ;
  var dinfo = minfo.domains[domain] || minfo.domains["DEFAULT"];
  var mapping;
  if (dousername) {
     mapping = minfo.mappings[dinfo["username"]];
  } else {
     mapping = minfo.mappings[dinfo["password"]];
  };
  var alphabets = [];
  var ablen = mapping.alphabets.length;
  for (var i = 0; i< ablen ; i++) {
      alphabets.push(minfo.alphabets[mapping.alphabets[i]]);
  }
  var structure = mapping.structure
  var arrayLength = structure.length
  if (arrayLength > 32) {
     arrayLength = 32;
  }
  rval ="";
  for (var i = 0; i < arrayLength; i++) {
     var alphabet = alphabets[parseInt(structure[i])];
     var alphabetLength = alphabet.length;
     var num = digest[i] % alphabetLength;
     var chr = alphabet[num];
     rval += chr;
  }   
  return rval;
}

function calcPassword(e) {
  var revoked = { {% for result in revocationlist %} "{{result}}" : true ,{% endfor %} };
  var incomplete = true;
  var rootkey = str2ab(document.getElementById('rumpelroot').value.slice(-32));
  var gpass = document.getElementById('pwd').value;
  var domain = document.getElementById('domain').value;
  var user = document.getElementById('user').value;
  var rkey = rootkey;
  while (incomplete === true) {
      var gkey = new BLAKE2s(32, rkey).update(str2ab(gpass));
      var dkey = new BLAKE2s(32, gkey.digest()).update(str2ab(domain));
      var ukey = new BLAKE2s(32, dkey.digest()).update(str2ab(user));
      var rvkey = new BLAKE2s(32, ukey.digest()).update(str2ab("RevocationToken"));
      var rkey = rvkey.digest();
      var rtoken = d2s(rkey,false,domain);
      var isrevoked = revoked[rtoken];
      incomplete = false;
      if (isrevoked === true) {
         console.log(rtoken)
         incomplete = true;
      } else {
         document.getElementById('revocationkey').value = rtoken; 
      }
  }
  var pass = d2s(ukey.digest(),false,domain);
  document.getElementById('result').value = pass;
}

function calcUsername(e) {
  var rootkey = str2ab(document.getElementById('rumpelroot').value.slice(0,32));
  var domain = document.getElementById('domain').value;
  var gkey = new BLAKE2s(32, rootkey).update(str2ab(domain));
  var user = d2s(gkey.digest(),true,domain);
  document.getElementById('user').value = user;
}


</script>
</HEAD>
<BODY>
<center>
<H3>ZeroVault</H3>
Welcome to your personal ZeroVault.<br>
<img src="vault.jpg"><br><br>
<form>
<input type="hidden" value="{{rumpelroot}}" id="rumpelroot">
<table border="0">
<tr><td>Domain</td><td><input type="text" name="domain" id="domain"></td><td></td></tr>
<tr><td>Username</td><td><input type="text" name="user" id="user"></td>
<td><input type="button" value="Auto Username" onclick="calcUsername()"></td></tr>
<tr><td>Generator Passphrase</td><td colspan="2"><input type="password" size="40" name="pwd" id ="pwd"></td></tr>
</table>
<input type="button" value="Calculate" onclick="calcPassword()">
</form> 
<h3>Password:</h3>
<input type="text" id="result" size ="32">
<h3>Incident Response</h3>
<form action="/" method="post">
<input type="hidden" id="revocationkey" name="revocationkey" value="">
<input type="submit" value="Mark above password as compromised">
</form>
<hr><font size="-1"><i>Please take proper precausions to assure the secrecy of your usage of ZeroVault.<br>
The <A HREF="https://github.com/pibara/ZeroVault">ZeroVault source code</A> is available.</i></font>
</center>
</BODY>
</HTML>
